$cyan1: #33add6;
$cyan2: #0099cc;
$cyan3: #007aa3;
$cyan4: #009dd4;
$cyan5: #009bd0;

$magenta1: #f1568c;
$magenta2: #ee2c70;
$magenta3: #be2359;

$green1: #33bf65;
$green2: #00af3f;
$green3: #008c32;
$green4: #33bf66;

$orange1: #ff8247;
$orange2: #ff6319;
$orange3: #cc4f14;

$purple1: #865fd3;
$purple2: #6837c8;
$purple3: #532ca0;

$blue1: #def5fd;
$blue2: #3390bf;
$blue3: #0075b0;
$blue4: #005d8c;
$blue5: #00375e;
$blue6: #18274b;
$blue7: #b5eaff;

$red1: #e50040;
$red2: #ff0048;

$gray0: #e8e9ed;
$gray1: #f8f8f8;
$gray2: #e7e7e7;
$gray3: #ebebeb;
$gray4: #bababa;
$gray5: #8b8d8e;
$gray6: #444444;
$gray7: #666666;
$gray8: #333333;

$light: #ffffff;
$light1: #f3f5fb;
$light2: #f3f9fd;
$white: #ffffff;
$black: #221e1f;
