
@font-face {
  font-family: 'Foco';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local('Foco'), url('assets/fonts/Foco/FOCO.woff') format('woff');
}

@font-face {
  font-family: 'Foco Bold';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local('Foco Bold'), url('assets/fonts/Foco/FOCOBOLD.woff') format('woff');
}
