//define breakpoints
$xxsmall-screen: 360px;
$xsmall-screen: 375px;
$small-screen: 600px;
$xmedium-screen: 768px;
$medium-screen: 960px;
$large-screen: 1024px;
$xlarge-screen: 1360px;
$xxlarge-screen: 1920px;
